@use "@/assets/scss/config" as *;
@use "@/assets/scss/functions/calc" as *;
// @import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");


@keyframes lightMv {
    0% {
        transform: translate(-150%, -50%);
    }
    100% {
        transform: translate(50%, -50%);
    }
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --noto-serif-tc: "Noto Serif TC", serif;
    --microsoft-jhenghei: "Microsoft JhengHei", "微軟正黑體", "Segoe UI",
        "PingFang TC", sans-serif;
    --cormorant-garamond: "Cormorant Garamond", serif;
    --cormorant-infant: "Cormorant Infant", serif;
    --lato: "Lato", sans-serif;
    --jost: "Jost", sans-serif;

    --bigTitle: 2.25vw;
    --mainSize: 1.2vw;
    --navSize: 0.85vw;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
}
body {
    position: relative;
}
img,
canvas {
    position: relative;
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

#app {
    width: var(--vw, 100%);
    height: var(--dvh, 100dvh);
}

.ff-noto-serif-tc {
    font-family: var(--noto-serif-tc);
}

.ff-noto-sans-tc {
    font-family: var(--noto-sans-tc);
}

.ff-microsoft-jhenghei {
    font-family: var(--microsoft-jhenghei);
}

.ff-cormorant-garamond {
    font-family: var(--cormorant-garamond);
}
.ff-cormorant-infant {
    font-family: var(--cormorant-infant);
}

.ff-jost {
    font-family: var(--jost);
}

.page-wrapper {
    // padding-bottom: var(--nav-height);
    width: 100%;
    height: 100%;
}

.page-main {
    position: relative;
    width: 100%;
    height: 100%;

    .img-caption {
        position: absolute;
        right: calc-vw(52, 1920);
        bottom: calc-vw(100, 1920);
        letter-spacing: calc-ls(100);
        line-height: 1;
        font-weight: 600;
    }
}
