@use "@/assets/scss/config" as *;
@use "@/assets/scss/functions/calc" as *;

#building-page {
    .building-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .floor_box {
        position: absolute;
        top: 50%;
        right: calc-vw(145, 1920);
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        padding-block: calc-vw(98, 1920);
        padding-inline: calc-vw(40, 1920);

        &-inner {
            display: flex;
            flex-direction: column;
            gap: calc-vw(47, 1920);
        }

        .title {
            font-size: calc-vw(36, 1920);
            letter-spacing: calc-ls(50);
            line-height: 1;
            font-weight: 600;
        }

        .floor_list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .floor_item {
            width: 100%;
            color: #231815;
            padding-block: calc-vw(8, 1920);

            &:not(:first-of-type) {
                border-top: 1px solid #3e3a39;
            }
            &-link {
                position: relative;
                display: block;

                text-align: center;
                color: currentColor;
                font-size: calc-vw(28, 1920);
                letter-spacing: calc-ls(50);
                line-height: calc-lh(28, (69 - 8 * 2));
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scaleX(0);
                    width: 100%;
                    height: 100%;
                    background-color: #fbe7ba;
                    transition: transform 0.3s ease-out;
                    will-change: transform;
                }
                &:hover {
                    &::before {
                        transform: translate(-50%, -50%) scaleX(1);
                    }
                }

                .txt {
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
}
