@use "@/assets/scss/config" as *;
@use "@/assets/scss/functions/calc" as *;

#home {
    width: 100%;
    height: 100lvh;
    .home-bg {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }
        &-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(1.2);
        }
    }

    .home-in {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0) 100%
        );
        mask-size: 150%;
        // mask-position: 50% 40%;
        mask-position: 300% 70%;
        mask-repeat: no-repeat;
    }

    .home-wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 1930 / 445;
        overflow: hidden;
    }

    .home-wave-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .home-wave-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        &-back {
            filter: blur(4px);
            z-index: 1;
            transform: scaleX(1.5);
        }
        &-front {
            z-index: 2;
        }
    }

    .home-content {
        position: relative;
        width: 100%;
        height: 100%;

        &-inner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% - calc-vw(121, 1920)));
            @include flex($direction: column, $align: center);
            gap: calc-vw(86, 1920);
        }
        &-title {
            position: relative;
            width: calc-vw(576, 1920);
            aspect-ratio: 576 / 295;
            overflow: hidden;

            mask-size: 100%;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            img {
                width: 100%;
                aspect-ratio: 576 / 295;
                object-fit: cover;
            }

            .light {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                mix-blend-mode: plus-lighter;
                opacity: 0.4;
                width: 150%;
                height: 300%;
                background: linear-gradient(
                    117deg,
                    rgba(255, 255, 255, 0) 30%,
                    rgb(255, 255, 255) 50%,
                    rgba(255, 255, 255, 0) 70%
                );
                transform: translate(-150%, -50%);
                transform-origin: center;
            }
            &.ani-start {
                .light {
                    animation-name: lightMv;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                }
            }
        }
        &-nav {
            &-list {
                @include flex();
                filter: drop-shadow(3.75px 3.75px 2.25px rgba(0, 0, 0, 0.75));

            }

            &-item {
                padding-inline: calc-vw(41, 1920);
                will-change: transform;

                &:not(:first-of-type) {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 1px;
                        height: calc-vw(23, 1920);
                        background-color: #fff;
                    }
                }
            }

            &-link {
                @include flex($direction: column, $align: center);
                gap: calc-vw(12, 1920);
                color: #fff;
                .zh-name {
                    font-size: calc-vw(24, 1920);
                    font-weight: 600;
                    line-height: 1;
                    letter-spacing: calc-ls(300);
                    transition: all 0.3s ease-out;

                    @include laptop14 {
                        font-size: 1.5vw;
                    }
                }
                .en-name {
                    font-size: calc-vw(18, 1920);
                    line-height: 1;
                    letter-spacing: calc-ls(100);
                    font-weight: 400;
                    transition: all 0.3s ease-out;

                    @include laptop14 {
                        font-size: 1.1vw;
                    }
                }

                &:hover {
                    color: #ece17e;

                    .zh-name,
                    .en-name {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
    .home-skip {
        position: absolute;
        left: 95.5%;
        bottom: 2%;
        display: flex;
        align-items: center;
        font-size: 20px;
        letter-spacing: 2px;
        z-index: 200;
        pointer-events: auto;
        cursor: pointer;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .window-line {
            border-radius: 50%;
            background-color: rgba(161, 161, 161, 0.671);
            position: relative;
            width: 2vw;
            height: 2vw;
            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 0.75vw;
                height: 2px;
                background-color: white;
                transform-origin: 50% 50%;
            }
            .line-1 {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            .line-2 {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
        .home-close-in {
            position: relative;
        }
        .home-skip-line {
            width: 1px;
            height: 100%;
            margin-right: 2px;
        }
        .home-skip-in {
            position: relative;
        }
    }
}
