@use "@/assets/scss/functions/calc" as *;

#fullscreen {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    &.js-hidden {
        pointer-events: none;
        // opacity: 0;
        // transition: opacity 0.5s;
    }

    .full-img {
        width: calc-vw(400, 1920);
        cursor: pointer;
        img {
            aspect-ratio: 576 / 295;
            object-fit: cover;
        }
    }

}
.fullscreenout {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

